<header th:fragment="header">
  <nav>
    <div class="my_logo-container">
      <a th:href="@{/}"></a>
      <img src="" alt="Logo" />
    </div>

    <ul>
      <li sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Logout</a>
      </li>
      <li sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/photos}"
          >Lista Foto</a
        >
      </li>
      <li sec:authorize="hasAnyAuthority('ADMIN')">
        <a th:href="@{/categories}"
          >Lista categorie</a
        >
      </li>
    </ul>
  </nav>
</header>
