<header th:fragment="header">
  <nav>
    <div class="my_logo-container">
      <a th:href="@{/}"></a>
      <img src="" alt="Logo" />
    </div>

    <ul>
      <li>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
        <a
          th:href="@{/logout}"
          sec:authorize="hasAnyAuthority('USER' , 'ADMIN')"
          >Logout</a
        >
        <a
          th:href="@{/photos}"
          sec:authorize="hasAnyAuthority('USER' , 'ADMIN')"
          >Lista Foto</a
        >
        <a
          th:href="@{/comments}"
          sec:authorize="hasAnyAuthority('USER' , 'ADMIN')"
          >Lista commenti</a
        >
        <a
          th:href="@{/categories}"
          sec:authorize="hasAnyAuthority('USER' , 'ADMIN')"
          >Lista categorie</a
        >
      </li>
    </ul>
  </nav>
</header>
