<div class="my_table-container" th:fragment="table(index,photos)">
  <div class="my_container">
    <h1>[[${title}]] di [[${user}]]</h1>

    <form method="POST" th:action="@{/photos}">
      <input type="text" name="title" />
      <button type="submit">Filtra</button>
    </form>

    <div class="my_btn-container">
      <a th:if="${index}" th:href="@{/photos/create}">Create new photo</a>
      <a th:if="${index}" th:href="@{/photos/trash}">Go to the recycle bean</a>
      <a th:unless="${index}" th:href="@{/photos}">Return back</a>

      <form
        th:if="${index}"
        th:action="@{/photos/soft-delete-all}"
        method="POST"
      >
        <button type="submit">Trash all</button>
      </form>

      <form
        th:unless="${index}"
        th:action="@{/photos/refresh-all}"
        method="POST"
      >
        <button type="submit">Refresh all</button>
      </form>

      <form
        th:unless="${index}"
        th:action="@{/photos/delete-all}"
        method="POST"
      >
        <button type="submit">Delete all</button>
      </form>
    </div>
  </div>

  <table th:unless="${photos.isEmpty()}">
    <thead>
      <tr>
        <th>Title</th>
        <th>Descrizione</th>
        <th>Img_Url</th>
        <th>Categories</th>
        <th sec:authorize="hasAuthority('SUPERADMIN')">Visible</th>
        <th sec:authorize="hasAuthority('SUPERADMIN')">Created by</th>
        <th sec:authorize="hasAuthority('SUPERADMIN')">Created by a</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="photo : ${photos}" th:object="${photo}">
        <td scope="row">
          <span>[[*{title}]]</span>
        </td>
        <td>
          <span th:unless="*{description == null}">[[*{description}]]</span>
          <span th:if="*{description == null}">Nessuna descrizione</span>
        </td>
        <td>
          <span>[[*{imgUrl}]]</span>
        </td>
        <td>
          <div th:unless="*{categories == null}">
            <span th:each="category : *{categories}" th:object="${category}"
              >[[*{name}]]</span
            >
          </div>
          <div th:if="*{categories == null}">Senza categorie</div>
        </td>
        <td sec:authorize="hasAuthority('SUPERADMIN')">
          <span>[[*{visible}]]</span>
          <form
            th:if="${index}"
            th:action="@{/photos/change-visibility/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Cambia visibilità</button>
          </form>
        </td>
        <td sec:authorize="hasAuthority('SUPERADMIN')">
          <span th:unless="*{user == null}">[[*{user.username}]]</span>
          <span th:if="*{user == null}">Campo vuoto</span>
        </td>

        <td sec:authorize="hasAuthority('SUPERADMIN')">
          <span th:unless="*{userRole == null}">[[*{userRole}]]</span>
          <span th:if="*{userRole == null}">Campo vuoto</span>
        </td>

        <td>
          <a th:href="@{/photos/{id} (id=*{id})}">Show</a>
          <div
            sec:authorize="hasAuthority('ADMIN')"
            class="my_admin-actions-container"
          >
            <a th:if="${index}" th:href="@{/photos/edit/{id} (id=*{id})}"
              >Edit</a
            >
            <form
              th:if="${index}"
              th:action="@{/photos/soft-delete/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Send to the recycle bean</button>
            </form>

            <form
              th:unless="${index}"
              th:action="@{/photos/refresh/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Refresh</button>
            </form>

            <form
              th:unless="${index}"
              th:action="@{/photos/delete/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
          <div
            sec:authorize="hasAuthority('SUPERADMIN')"
            class="my_superadmin-actions-container"
          >
            <a
              th:if="${index && (photo.userRole == 'SUPERADMIN' || photo.userRole == null)}"
              th:href="@{/photos/edit/{id} (id=*{id})}"
              >Edit</a
            >

            <form
              th:if="${index && (photo.userRole == 'SUPERADMIN' || photo.userRole == null)}"
              th:action="@{/photos/soft-delete/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Send to the recycle bean</button>
            </form>

            <form
              th:if="${!index && (photo.userRole == 'SUPERADMIN' || photo.userRole == null)}"
              th:action="@{/photos/refresh/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Refresh</button>
            </form>

            <form
              th:if="${!index && (photo.userRole == 'SUPERADMIN' || photo.userRole == null)}"
              th:action="@{/photos/delete/{id} (id=*{id})}"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div th:if="${photos.isEmpty()}">Non ci sono elementi nella tabella</div>
</div>
