<div class="my_table-container" th:fragment="table(index,photos)">
  <div class="my_container">
    <h1>[[${title}]] di [[${user}]]</h1>

    <form method="POST" th:action="@{/photos}">
      <input type="text" name="title" />
      <button type="submit">Filtra</button>
    </form>

    <div class="my_btn-container">
      <a th:if="${index}" th:href="@{/photos/create}">Create new photo</a>
      <a th:if="${index}" th:href="@{/photos/trash}">Go to the recycle bean</a>
      <a th:unless="${index}" th:href="@{/photos}">Return back</a>

      <form
        th:if="${index}"
        th:action="@{/photos/soft-delete-all}"
        method="POST"
      >
        <button type="submit">Trash all</button>
      </form>

      <form
        th:unless="${index}"
        th:action="@{/photos/refresh-all}"
        method="POST"
      >
        <button type="submit">Refresh all</button>
      </form>

      <form
        th:unless="${index}"
        th:action="@{/photos/delete-all}"
        method="POST"
      >
        <button type="submit">Delete all</button>
      </form>
    </div>
  </div>

  <table th:unless="${photos.isEmpty()}">
    <thead>
      <tr>
        <th>Title</th>
        <th>Descrizione</th>
        <th>Img_Url</th>
        <th>Categories</th>
        <th sec:authorize="hasAuthority('SUPERADMIN')">Visible</th>
        <th sec:authorize="hasAuthority('SUPERADMIN')">Created by a</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="photo : ${photos}" th:object="${photo}">
        <td scope="row">
          <span>[[*{title}]]</span>
        </td>
        <td>
          <span th:unless="*{description == null}">[[*{description}]]</span>
          <span th:if="*{description == null}">Nessuna descrizione</span>
        </td>
        <td>
          <span>[[*{imgUrl}]]</span>
        </td>
        <td>
          <div th:unless="*{categories.isEmpty()}">
            <span th:each="category : *{categories}" th:object="${category}"
              >[[*{name}]]</span
            >
          </div>
          <div th:if="*{categories.isEmpty()}">Senza categorie</div>
        </td>
        <td sec:authorize="hasAuthority('SUPERADMIN')">
          <span>[[*{visible}]]</span>
        </td>
        <td sec:authorize="hasAuthority('SUPERADMIN')">
			<span>Metti ruolo</span>
        </td>
        <td>
          <a th:href="@{/photos/{id} (id=*{id})}">Show</a>
          <a sec:authorize="hasAuthority('ADMIN')" th:if="${index}" th:href="@{/photos/edit/{id} (id=*{id})}">Edit</a>
          <a sec:authorize="hasAuthority('SUPERADMIN')" th:if="${index && role == 'SUPERADMIN'}" th:href="@{/photos/edit/{id} (id=*{id})}">Edit</a>

          <form
          	sec:authorize="hasAuthority('ADMIN')"
            th:if="${index}"
            th:action="@{/photos/soft-delete/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Send to the recycle bean</button>
          </form>
          <form
          	sec:authorize="hasAuthority('SUPERADMIN')"
            th:if="${index && role == 'SUPERADMIN'}"
            th:action="@{/photos/soft-delete/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Send to the recycle bean</button>
          </form>

          <form
          	sec:authorize="hasAuthority('ADMIN')"
            th:unless="${index}"
            th:action="@{/photos/refresh/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Refresh</button>
          </form>
          <form
          	sec:authorize="hasAuthority('SUPERADMIN')"
            th:unless="${index && role != 'SUPERADMIN'}"
            th:action="@{/photos/refresh/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Refresh</button>
          </form>

          <form
          	sec:authorize="hasAuthority('ADMIN')"
            th:unless="${index}"
            th:action="@{/photos/delete/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Delete</button>
          </form>
          <form
          	sec:authorize="hasAuthority('SUPERADMIN')"
            th:unless="${index && role != 'SUPERADMIN'}"
            th:action="@{/photos/delete/{id} (id=*{id})}"
            method="POST"
          >
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <div th:if="${photos.isEmpty()}">Non ci sono elementi nella tabella</div>
</div>
